.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  height: 50px;
  // top: -100px;
  width: 100%;

  background-color: rgb(192, 192, 192);
  a {
    text-decoration: none;
  }
  p {
    color: black;
  }
}
