@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: row;
}

body {
  font-family: "Noto Sans TC", sans-serif !important;
}

.light-theme {
  background-color: #ffffff;
  color: #000000;
}

.dark-theme {
  background-color: #000000;
  color: #ffffff;
}

.App {
  display: flex; //啟用flex
  flex-direction: column; //設定由上到下排列
  min-height: 100vh; // 至少佔據可視範圍的整個高度
}

.merge {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  .no-print,
  .no-print * {
    display: none !important;
  }
}

@media screen and (max-width: 1225px) {
  .merge {
    flex-direction: column;
    min-width: 675px;
  }
}

@import "_footer";
@import "_card";
@import "_deal";
