@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: row;
}
html {
  height: 100%;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  height: 100%;
}

.merge {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  flex-grow: 1;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  .no-print,
  .no-print * {
    display: none !important;
  }
}

@media screen and (max-width: 1225px) {
  .merge {
    flex-direction: column;
    min-width: 675px;
  }
}

@import "_footer";
@import "_card";
@import "_deal";
